# ========== BACKEND ==========
cinephoria-backend/node_modules/
cinephoria-backend/.env
cinephoria-backend/.env.local
cinephoria-backend/fly.toml
cinephoria-backend/Dockerfile
cinephoria-backend/npm-debug.log*

# ========== FRONTEND ==========
cinephoria-frontend/node_modules/
cinephoria-frontend/dist/
cinephoria-frontend/tmp/
cinephoria-frontend/out-tsc/
cinephoria-frontend/bazel-out/
cinephoria-frontend/npm-debug.log*
cinephoria-frontend/yarn-error.log*
cinephoria-frontend/.angular/

# ========== GENERAL ==========
*.log
*.env
*.env.local
*.env.production
*.env.development
.env.*
.vscode/
.idea/
.history/
.DS_Store
Thumbs.db

# ========== COVERAGE / TESTS / OUTPUT ==========
coverage/
testem.log
libpeerconnection.log
.sass-cache/
.connect.lock
typings/
